@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

h3{
    font-weight: 500;
    font-size:1.5rem;
}

h4{
    font-weight: 200;
}

p{
    color: #8B8B8B;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4efef;
}

.container{
    max-width: 400px;
    background-color: white;
    margin:8rem auto;
    font-family: "Smythe", system-ui;
}


.food-img{
    margin-right: 1rem;
}

/* menu items section */

.menu-recipe{
    display: flex;
}

.menu-item{
    border-bottom: 1px solid #ddd;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.add-btn{
    cursor: pointer;
}
/* Order  */

.order{
    height: 300px;
    padding: 1rem;
}

.ordered-items{

    h2{
        text-align: center;
        font-weight: 100;
        font-size: 1.7rem;
    }
}

.item-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.item-item__button{
    display: flex;
    align-items: center;
    gap: 1rem;

    .remove-btn{
        cursor: pointer;
        font-size: .8rem;
        color: #BBBBBB;
    }
}

.total-order{
    border-top: 1.5px solid #0E0E0E;
   
}

.total-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;

    h5{
        font-size: 1.6rem;
        font-weight: 100;
        color: #0E0E0E;
    }
}

/* modal overlay */
.modal-overlay{
    background-color: rgba(0, 0, 0, 0.5);
}

.payment-form{
  position: fixed;
  top: 44.1%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 400px;
  padding: 2rem;

  input{
    padding: .8rem;
    width: 100%;
    border: 2px solid #757575;
    border-radius: 4px;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  

  .pay-btn{
    display: block;
    font-size: 1rem;
    text-align: center;
    background-color: #16DB99;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    border: none;
  }
}

.btn-order{
   display: block;
   font-size: 1.2rem;
   text-align: center;
   background-color: #16DB99;
   color: white;
   padding: .8rem;
   margin-top: 2rem;
   cursor: pointer;
}


/* Thank you message */

.thank-you{
    text-align: center;
    background-color: #ECFDF5;
    padding: 2rem;
    border-radius: 1px;
    p{
        color: #065F46;
        font-size: 1.5rem;
       
    }
}

/* hide class */

.hide{
    display: none;
}